body { background-image: linear-gradient(to right, #F3D7CA 0%, #FFF8E3 30%, #F5EEE6 60%, white 100%)
    ;
}

h1 { display: flex;
justify-content: center;
}

h2 {text-transform: uppercase;}

ol { font-style: italic;
    }   

.main {
        text-transform: uppercase;
    }

.sport { font-weight: bold;
}

.photo {
    max-width: 50%;
    max-height: 50%;
    float: right;
    margin: 50px;
}

.first {
    margin: 150px;
}

